.flores p{
    width: 100%;
    font-size: 20px;
    text-align: center;
}
.contador{
    font-size: 30px;
    font-weight: bold;
}
.filas{
    width: 100%;
}
.primera_fila, .segunda_fila{
    width: calc(100% - 200px);
    margin-left: 50px;
}
main{
    display: flex;
    flex-wrap: nowrap;
}
.contador{
    width: calc(100% - 200px);
    text-align: center;
}